@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&family=Noto+Serif+SC:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme {
  --font-family-sans-sc: 'Noto Sans SC', sans-serif;
  --font-family-serif-sc: 'Noto Serif SC', serif;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #fcfaf8;
  color: #3f3f46;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-serif-sc {
  font-family: 'Noto Serif SC', serif;
}
